@font-face {
    /* 自定义的字体名车，调用该字体时使用 */
    font-family: "SmileySans-Oblique";
    /* 引用字体包。.ttf后缀不区分大小写，用.TTF也可以 */
    src: url('@/assets/font/SmileySans-Oblique.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* 自定义的字体名车，调用该字体时使用 */
    font-family: "JinBuTi";
    /* 引用字体包。.ttf后缀不区分大小写，用.TTF也可以 */
    src: url('@/assets/font/JinBuTi.ttf'); 
    font-weight: normal;
    font-style: normal;
}